fail_fast: true
repos:
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "ty check"
        language: system
        pass_filenames: false
        always_run: true
      - id: ruff
        name: ruff
        entry: "ruff check ."
        language: system
        pass_filenames: false
        always_run: true