x-worker-base: &worker-base
  build:
    context: ..
    dockerfile: demo/Dockerfile
  depends_on:
    rabbitmq:
      condition: service_healthy
  environment: &worker-env
    RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
    PYTHONUNBUFFERED: 1
  networks:
    - app-network


services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - app-network

  generator:
    <<: *worker-base
    command: ["khnm", "demo.main:pipeline", "generator"]

  splitter:
    <<: *worker-base
    command: ["khnm", "demo.main:pipeline", "splitter", "--tasks", "4", "--threads", "8"]

  sleeper:
    <<: *worker-base
    command: ["khnm", "demo.main:pipeline", "sleeper", "--tasks", "16"]

  multiplier:
    <<: *worker-base
    command: ["khnm", "demo.main:pipeline", "multiplier", "--tasks", "4", "--threads", "8"]

  printer:
   <<: *worker-base
   command: ["khnm", "demo.main:pipeline", "printer", "--threads", "16"]

volumes:
  rabbitmq_data:

networks:
  app-network:
    driver: bridge